* {
  margin: 0;
  padding: 0;
  border : 0;
}

html,
body {
  width: 100%;
 height: 100%;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro W3', 'Meiryo', 'Noto Sans Japanese Regular', sans-serif;
}

.vertical {
    opacity: 0;
}

.fadein1 {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 0%;
}

.fadein2 {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 30%;
}

.fadein3 {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 60%;
}

.settings1 {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 2%;
  left: 5%;
  font-size: 1.2rem;
}

.settings2 {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 2%;
  left: 35%;
  font-size: 1.2rem;
}

.settings3 {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 2%;
  left: 65%;
  font-size: 1.2rem;
}